@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: white;
  background-image: url('https://images.unsplash.com/photo-1519143009590-e3800b9df468?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1384&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  font-weight: bold;
  font-size: 5rem;
  margin: 0;
}

nav {
  position: absolute;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

nav a:hover {
  text-decoration: underline;
}

nav .profile-container {
  cursor: pointer;
  width: 35px;
  height: 35px;
  overflow: hidden;
  border-radius: 50%;
  object-position: center;
}

nav .profile-container:hover {
  box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.1);
}

nav .profile-container img {
  height: 100%;
  width: 100%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.2s;
  animation-name: fade;
  animation-duration: 0.2s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-container {
  position: fixed;
  right: 10px;
  border-radius: 25px;
  top: 60px;
  background-color: #494949;
  width: 400px;
}

@media only screen and (max-width: 600px) {
  .modal-container {
    width: 300px;
  }
}

.modal-content {
  padding: 0.5rem 0.5rem 0 0.5rem;
}

.modal-top {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  padding: 1.5rem 1rem;
  border-radius: 20px 20px 5px 5px;
  background-color: #363636;
  color: white;
}

.modal-top p {
  margin: 0;
}

.modal-top p:last-child {
  font-size: small;
  color: #9c9c9c;
}

.modal-top .profile-wrapper-left {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.modal-top .profile-wrapper-left img {
  max-width: 100%;
}

.profile-wrapper-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-wrapper-right .btn-manage {
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 8px 12px;
}

@media only screen and (max-width: 600px) {
  .profile-wrapper-right .btn-manage {
    padding: 4px 6px;
  }
}

.profile-wrapper-right .btn-manage:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.2s;
}

.modal-middle {
  margin-top: 0.1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  border-radius: 5px 5px 20px 20px;
  background-color: #363636;
  color: white;
}

.modal-middle p {
  margin: 0;
}

.modal-middle .icon-wrapper,
.modal-bottom .icon-wrapper {
  width: 50px;
  display: flex;
  justify-content: center;
}

.modal-middle .icon-wrapper img,
.modal-bottom .icon-wrapper img {
  width: 50%;
}

.modal-bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 16px;
}

.modal-bottom .signout-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.modal-bottom .signout-wrapper p {
  margin: 0;
}

.modal hr {
  width: 100%;
  margin: 0;
  border: 1px solid #646464;
}

.privacy-wrapper {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  gap: 1rem;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 30px;
}

main h1 {
  text-align: center;
}

main p {
  color: gray;
}

main .logo-google {
  max-width: 300px;
  filter: brightness(0) invert(1);
}

@media only screen and (max-width: 600px) {
  main .logo-google {
    max-width: 200px;
  }
}
/* Search Component */

.search-container {
  width: 100%;
  max-width: 600px;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: white;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.45);
}

.search-container input {
  font-size: 16px;
  flex-grow: 1;
  border: 0;
  outline: 0;
  margin: 0;
  padding-top: 2px;
}

.search-inner-left {
  flex-grow: 1;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.search-container img {
  width: 1.5rem;
}

/* Shortcut Component */

.shortcut-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.shortcut-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-bottom: 1rem;
  /* padding: 15px 30px; */
  /* padding: 1rem 2rem; */
  border-radius: 5px;
}

.shortcut-wrapper:hover {
  transition: 0.2s;
  background-color: rgba(255, 255, 255, 0.1);
}

.shortcut-wrapper p {
  font-size: 14px;
  color: white;
  margin: 0;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.shortcut-inner {
  margin: 1rem 2rem 0 2rem;
  background-color: rgb(41, 41, 41);
  border-radius: 50%;
  position: relative;
  width: 50px;
  height: 50px;
}

.shortcut-wrapper .image-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  width: 35px;
  height: 35px;
}

.shortcut-wrapper .image-container img {
  width: auto;
  max-width: 100%;
  max-height: 35px;
  height: auto;
  margin: 0 auto;
  display: block;
}
